* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
  color: #333;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(248, 243, 243, 0.6), rgba(0,0,0,.6)),
    url("assets/bg2.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
  
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.btn {
  padding: 12px 30px;
  background: #080807;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #ee1f1f;
}

.about {
  padding: 80px 10%;
  background: #f6e6ea;


}

.about h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.about h3 {
    font-family: 'Playfair Display', serif;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  align-items: center;
}

.about-img img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border: 6px solid #f8f4f4;
  transition: 0.4s ease;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(170, 7, 7, 0.2);
}
.about-img img :hover {
    transform: scale(1.05);
}

.about-text {
  background: #ecddea;
  padding: 30px;
  border-radius: 20px;
}

.about-text h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.about-text p {
  line-height: 1.8;
}

.contact {
  padding: 50px 10%;
  text-align: center;
  background-color: hsl(314, 15%, 78%);
}

.contact h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.contact p {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  color: #6b3a4c;
  padding: 16px 28px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
  letter-spacing: 0.8px;
  animation: floatBubble 4s ease-in-out infinite;
}
@keyframes floatBubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.contact p:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
}
@media (max-width: 480px) {
  .contact p {
    font-size: 1rem;
    padding: 14px 22px;
  }
}

footer {
  background: #2d272d;
  color: #f5f4f5;
  padding: 30px 0;
  text-align: center;
}

.social-icons a {
  color: #fff;
  margin: 0 15px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff9800;
}

footer p {
  margin-top: 15px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}